<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>

<div class="container py-4">
    <div class="card">
        <div class="card-header" th:text="${title}"></div>
        <div class="card-body">

            <h4 class="card-title">
                <a th:href="@{'/factura/form/' + ${client.id}}" class="btn btn-success">Crear factura</a>
            </h4>

            <ul class="list-group list-group-flush">
                <li class="list-group-item" th:text="${client.name} +' '+ ${client.lastname} "></li>
                <li class="list-group-item" th:text="${client.email}"></li>
                <li class="list-group-item" th:text="${client.createAt}"></li>
            </ul>

            <div th:if="${#lists.isEmpty(client.facturas)}" class="alert alert-info my-4"
                 th:text="'No hay facturas asignadas'"></div>
                <table class="table" th:if="${not #lists.isEmpty(client.facturas)}">
                    <thead  class="thead-dark">
                    <tr>
                        <th>Folio</th>
                        <th>fecha</th>
                        <th>descripcion</th>
                        <th>total</th>
                        <th>ver</th>
                        <th>Eliminar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="factura: ${client.facturas}">
                        <td th:text="${factura.id}"></td>
                        <td th:text="${factura.createAt}"></td>
                        <td th:text="${factura.description}"></td>
                        <td th:text="${factura.total}"></td>
                        <td><a class="btn btn-primary btn-xs" th:href="@{'/factura/ver/' + ${factura.id}}">Detalle</a></td>
                        <td><a class="btn btn-danger btn-xs" th:href="@{'/factura/eliminar/' + ${factura.id}}"
                        onclick="return confirm('Quieres eliminar esta factura?');">Eliminar</a></td>
                    </tr>
                    </tbody>
                </table>

        </div>
    </div>
</div>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>